
.conteiner{
    background-color: rgba(0,0,0, 0.5);
    position: relative;
    width: 250px;
    height: 250px;
}
.or1{
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}
.or2{
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 80px;
}
.cabeza{
    background-color: black;
    height: 85px;
    width: 85px;
    border-radius: 100%;
    position: absolute;
    top: 35px;
    left: 25px;
}
.or1g{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.or2g{
    height: 75px;
    width: 75px;
    left: 93px;
    border-radius: 50%;
}
.cabezag{
    height: 110px;
    width: 110px;
    border-radius: 100%;
    position: absolute;
    top: 45px;
}
.foto{
    border-radius: 50%; 
    background-position: center; 
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
    //background-position-x: 50%;
    //background-position-y: 29%;
}
.cabeza:hover div.izq , .cuerpo:hover div.derecha,
.cabeaza:hover div.cabeza{
    background-color: #b39c9c;
}
.foto:hover{
    transform: scale(1.1);
}